/* Alone Non Profit Multipurpose HTML5 Template */


/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Main Slider
6. Vertical Green Bar
7. Become Volunteer
8. Recent Causes Section
9. Default Image Section
10. Fact Counter
11. Welfare Stories/  / Tabbed Stories
12. Recent Donors
13. Custom BG Section
14. Product Section / Shop Section
15. Recent Blog News
16. Sponsors Carousel
17. Main Footer
18. About Widget
19. Gallery Widget
20. News Widget
21. Twitter Feeds
22. Header Style Two
23. Event Countdown Timer
25. Default Overlay Column
26. Intro Columns / Service Column
27. Products Style Two
28. Boxed Layout
29. Single Post / Post Detail
30. All Causes
31. Gallery Style 1-5
32. Our Welfare Team
33. Sponsors Style Two
34. Blog List View
35. Blog Grid View
36. 404 Page
37. Contact Page
38. Shop Page
39. Shop Details
40. Shopping Cart Page
41. Sidebar 
42. Sidebar Widgets
43. Events Calendar

**********************************************/

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@import url('font-awesome.css');
@import url('animate.css');
@import url('owl.css');
@import url('jquery.mCustomScrollbar.min.css');
@import url('jquery.fancybox.css');
@import url('hover.css');

/*** 

====================================================================
	Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-family: 'Arimo', sans-serif;
	font-size:14px;
	color:#555555;
	line-height:1.8em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#ec1c33;
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.6em;
}

input,button,select,textarea{
	font-family: 'Arimo', sans-serif;
}

p{
	position:relative;
	line-height:2em;	
}

.strike-through{
	text-decoration:line-through;	
}

.auto-container{
	position:static;

	/*changed to adjust main menu navigation*/
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	background:#ffffff;
}

.page-outer-container{
	position:relative;
	width:100%;
	padding:0px 0px;
	background:#1c1c1c url(../images/background/bg-pattern.jpg) left top repeat;
}

.boxed-layout .page-outer-container{
	padding:0px 100px;	
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.theme-btn{
	display:inline-block;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	font-family: 'Montserrat', sans-serif;
}

.centered{
	text-align:center;	
}

.btn-style-one{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 30px;
	font-size:12px;
	text-transform:uppercase;
	background:#f25f43;
	border:2px solid #ec1c33 !important;
	color:#ffffff !important;
	border-radius:3px;
}

.btn-style-one:hover{
	background:none;
	color:#ec1c33 !important;	
}

.btn-style-donte:hover{
	background:none;
	color:#000000 !important;	
}

.btn-style-two{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 32px;
	font-size:12px;
	text-transform:uppercase;
	background:none;
	border:2px solid #ec1c33 !important;
	color:#ffffff !important;
	border-radius:3px;
}

.btn-style-two:hover{
	background:#ec1c33;
	color:#ffffff !important;	
}

.btn-style-three{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 32px;
	font-size:12px;
	text-transform:uppercase;
	background:none;
	border:2px solid #ec1c33 !important;
	color:#ec1c33 !important;
	border-radius:3px;
}

.btn-style-three:hover{
	background:#ec1c33;
	color:#ffffff !important;	
}

.btn-style-four{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 32px;
	font-size:12px;
	text-transform:uppercase;
	background:none;
	border:2px solid #ffffff !important;
	color:#ffffff !important;
	border-radius:3px;
}

.btn-style-four:hover{
	background:#ffffff;
	color:#ec1c33 !important;	
}

.theme-btn .icon{
	font-size:16px;	
}

.theme-btn .icon-left{
	padding-right:50px;
}

.theme-btn .icon-right{
	padding-left:50px;
}

.bold-font{
	font-weight:700;	
}

.exbold-font{
	font-weight:900;	
}

.normal-font{
	font-weight:400;	
}

.light-font{
	font-weight:300;	
}

.semibold-font{
	font-weight:600;	
}

.white_color{
	color:#ffffff !important;	
}

.theme_color{
	color:#f25f43 !important;	
}

.bg_theme_color{
	background:#ec1c33 !important;	
}

.theme_green_color{
	color:#29af8a !important;	
}

.bg_green_color{
	background:#29af8a !important;	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-top-50{
	padding-top:50px !important;	
}

.padd-top-90{
	padding-top:90px !important;	
}

.padd-bott-8{
	padding-bottom:8px !important;	
}

.padd-right-20{
	padding-right:20px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.padd-bott-50{
	padding-bottom:50px !important;	
}

.padd-top-90{
	padding-bottom:90px !important;	
}

.margin-top-20{
	margin-top:20px !important;	
}

.margin-top-30{
	margin-top:30px !important;	
}

.margin-top-40{
	margin-top:40px !important;	
}

.margin-top-50{
	margin-top:50px !important;	
}

.margin-right-20{
	margin-right:20px !important;	
}

.margin-right-30{
	margin-right:30px !important;	
}

.margin-right-40{
	margin-right:40px !important;	
}

.margin-right-50{
	margin-right:50px !important;	
}

.margin-right-60{
	margin-right:60px !important;	
}

.margin-right-80{
	margin-right:80px !important;	
}

.margin-left-20{
	margin-left:20px !important;	
}

.margin-left-30{
	margin-left:30px !important;	
}

.margin-left-40{
	margin-left:40px !important;	
}

.margin-left-50{
	margin-left:50px !important;	
}

.margin-left-60{
	margin-left:60px !important;	
}

.margin-left-80{
	margin-left:80px !important;	
}

.margin-bott-20{
	margin-bottom:20px !important;	
}

.margin-bott-30{
	margin-bottom:30px !important;	
}

.margin-bott-40{
	margin-bottom:40px !important;	
}

.margin-bott-50{
	margin-bottom:50px !important;	
}

.margin-bott-70{
	margin-bottom:50px !important;	
}

.margin-bott-80{
	margin-bottom:50px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-top:0px !important;	
}

.no-bg{
	background:none !important;	
}

.bg-light-grey{
	background:#f9f9f9;	
}

.text-uppercase{
	text-transform:uppercase !important;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.gif);}

/*** 

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:15px;
	right:15px;
	width:40px;
	height:40px;
	color:#ffffff;
	font-size:12px;
	line-height:38px;
	text-align:center;
	background:#f25f43;
	border:1px solid #f25f43;
	border-radius:50%;
	z-index:100;
	cursor:pointer;
	display:none;
}

.scroll-to-top:hover{
	border-color:#208dc6;
	background:#208dc6;	
}


/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position:relative;
	left:0px;
	top:0px;
	background:#ffffff;
	z-index:999;
	width:100%;
}

.main-header .top-bar{
	position:relative;
	background:#f25f43;
	color:#ffffff;
}

.main-header .top-bar .top-left{
	position:relative;
	float:left;
	padding:15px 0px;
	color:#ffffff;
	font-size:12px;
	font-family: 'Montserrat', sans-serif;	
}

.main-header .top-bar .top-left li{
	position:relative;
	display:inline-block;
	margin-right:60px;
}

.main-header .top-bar .top-left li:after{
	content:'';
	position:absolute;
	top:7px;
	right:-30px;
	height:10px;
	
}

.main-header .top-bar .top-left li:last-child:after{
	display:none;	
}

.main-header .top-bar .top-left li a{
	position:relative;
	display:block;
	line-height:24px;
	color:#ffffff;
	font-size:15px;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.main-header .top-bar .top-left li .fa{
	position:relative;
	padding-right:8px;
	color:#ffffff;	
}

.main-header .top-bar .top-right{
	position:relative;
	float:right;
	color:#b5b5b5;
	font-size:12px;
}

.main-header .top-bar .right-nav{
	float:left;
	padding:15px 0px;
	font-family: 'Montserrat', sans-serif;	
}

.main-header .top-bar .right-nav li{
	position:relative;
	display:inline-block;
	margin-right:14px;

}

.main-header .top-bar .right-nav li:after{
	content:'';
	position:absolute;
	top:7px;
	right:-25px;
	height:10px;
	border-right:1px solid #585858;	
}

.main-header .top-bar .right-nav li:last-child:after{
	display:none;	
}

.main-header .top-bar .right-nav li a{
	position:relative;
	display:block;
	line-height:24px;
	color:#b5b5b5;
	font-size:11px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.main-header .top-bar .right-nav li a:hover{
	color:#ec1c33;	
}

.main-header .top-bar .donate-outer{
	float:left;
	
	
}

.main-header .top-bar .btn-donate{
	position:relative;
	display:block;
	padding:13px 18px;
	line-height:25px;
	text-transform:uppercase;
	color:#ffffff;
	background:#003333;
	margin-top: 5%;
	height: 48px;

}

.main-header .top-bar .btn-donate:hover{
	background:#ec1c33;	
}

.main-header .lower-section{
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.10);
	padding:0px 0px;
	width:100%;
	left:0px;
	top:0px;
	background:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header.style-two .lower-section{
	border:none;
	background:none;
	position:fixed;
	top:50px;	
}

.main-header.style-two .transparent-container{
	padding:10px 50px;
	max-width:1280px;
	margin:0 auto;
	background:rgba(0,0,0,0.30);
	border-radius:5px;
}

.fixed-header.main-header.style-two .transparent-container{
	background:none;	
}

.fixed-header .lower-section,
.fixed-header.main-header.style-two .lower-section{
	position:fixed;
	top:0px;
}

.fixed-header.main-header.style-two .lower-section{
	background:#3c3c3c;
}

.main-header .lower-section .outer-box{
	position:relative;
	padding:0px 200px 0px 0px;	
}

.main-header .cart-box{
	position:absolute;
	right:10px;
	top:0px;
	width:190px;
	padding:30px 0px;
	font-family: 'Montserrat', sans-serif;
}

.fixed-header.main-header .cart-box{
	padding:18px 0px;
}

.main-header .cart-box .cart-btn{
	position:relative;
	display:block;
	border:1px solid #d0d0d0;
	padding:11px 30px 11px 25px;
	line-height:20px;
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	border-radius:3px;
	cursor:pointer;
}

.main-header.style-two .cart-box .cart-btn{
	color:#ffffff;	
}

.main-header .cart-box .cart-btn:hover,
.main-header .cart-box .active-btn{
	color:#ec1c33;
	border-color:#ec1c33;	
}

.main-header .cart-box .cart-icon{
	position:relative;
	line-height:20px;
	padding-right:15px;
	margin-right:15px;
	font-size:14px;	
}

.main-header .cart-box .cart-icon:after{
	content:'';
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-5px;
	border-right:1px solid #d0d0d0;
	height:10px;	
}

.main-header .cart-box .cart-btn .down-arrow{
	position:absolute;
	right:-10px;
	top:50%;
	margin-top:-10px;
	width:20px;
	height:20px;
	line-height:20px;
	font-size:10px;
	background:#ffffff;
	border:1px solid #d0d0d0;	
}

.main-header.style-two .cart-box .down-arrow{
	color:#555555;	
}

.main-header .cart-box .cart-btn:hover .down-arrow,
.main-header .cart-box .cart-btn.active-btn .down-arrow{
	border-color:#ec1c33;	
}

.main-header .cart-dropdown{
	position:absolute;
	right:0px;
	top:100%;
	width:280px;
	border:1px solid #ec1c33;
	border-top-width:2px;
	background:#ffffff;
	display:none;
	border-radius:0px 0px 3px 3px;
}

.main-header .item-box{
	position:relative;
	padding:15px;
	border-bottom:1px solid #ec1c33;
}

.main-header .item-box .inner{
	position:relative;
	padding-left:100px;
	min-height:80px;	
}

.main-header .item-box .thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:80px;
	height:80px;	
}

.main-header .item-box .thumb img{
	display:block;
	width:80px;
	height:80px;	
}

.main-header .item-box .title{
	font-size:13px;
	color:#1c1c1c;	
}

.main-header .item-box .price{
	font-size:12px;
	color:#29af8a;
	margin-bottom:5px;	
}

.main-header .item-box .remove-btn{
	font-size:12px;
	color:#ec1c33;
	margin-bottom:0px;	
}

.main-header .cart-box .cart-footer{
	position:relative;
	font-size:12px;
	padding:10px 15px;
	line-height:24px;
}

.main-header .cart-box .cart-footer .column{
	margin-bottom:10px;
}

.main-header .cart-box .proceed-btn{
	display:block;
	margin:0px;
	padding:10px 20px;
	text-align:center;
	color:#ffffff;
	background:#ec1c33;
	text-transform:uppercase;
	font-size:12px;
	border-radius:3px;
}

.main-header .nav-toggler{
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-20px;
	width:40px;
	height:40px;
	background:#ec1c33;
	color:#ffffff;
	display:none;
}

.main-header .nav-toggler .hidden-bar-opener{
	background:none;
	display:block;
	line-height:40px;
	width:40px;
	height:40px;	
}

.main-header .lower-section .logo{
	position:relative;
	float:left;
	padding:12px 0px;
}

.fixed-header .lower-section .logo{
	padding:0px !important;	
}

.main-header .lower-section .logo img{
	display:inline-block;
	max-width:100%;	
}

.main-menu{
	position:relative;
	float:right;
	padding:0px 0px;
	margin-right:150px;	
}

.main-menu .navbar-collapse{
	padding:0px;	
}

.main-menu .navigation{
	position:relative;
	float:right;
	margin:0px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	margin-right: -15%;
	margin-top: -14% !important; 
}


.main-menu .navigation > li{
	position:relative;
	float:left;
	padding:34px 0px 30px;
	margin-right:25px;	
}

.fixed-header .main-menu .navigation > li{
	padding:20px 0px;	
}

.main-menu .navigation > li:last-child{
	margin-right:0px;	
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	padding:10px 10px 6px;
	font-size:16px;
	color:#292929;
	line-height:24px;
	text-transform:uppercase;
	letter-spacing:1px;
	opacity:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header.style-two .main-menu .navigation > li > a{
	color:#ffffff;	
}

.main-menu .navigation > li > a:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:10px;
	background:url(../images/icons/active-bars-icon.png) center top no-repeat;
	opacity:0;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li:hover > a:before,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current > a:before,
.main-menu .navigation > li.current-menu-item > a,
.main-menu .navigation > li.current-menu-item > a:before{
	color:#dc632d !important;
	opacity:1;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:-20px;
	top:100%;
	width:200px;
	padding:0px;
	z-index:100;
	display:none;
	visibility:hidden;
	background:#1c1c1c;
	opacity:0;
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	display:block;
	border-bottom:1px solid #3c3c3c;
}

.main-menu .navigation > li > ul > li:last-child{
	border:none;	
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:8px 12px 8px 20px;
	line-height:20px;
	font-weight:400;
	font-size:12px;
	text-transform:capitalize;
	color:#b5b5b5;
	transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;
}

.main-menu .navigation > li > ul > li:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:3px;
	background-color:#ec1c33;
	transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;	
}

.main-menu .navigation > li > ul > li:nth-child(2n+2):before{
	background-color:#29af8a;	
}

.main-menu .navigation > li > ul > li:hover > a{
	color:#ffffff;	
}

.main-menu .navigation > li > ul > li:hover:before{
	width:100%;	
}

.main-menu .navigation > li:hover > ul{
	left:0px;
	display:block;
	opacity:1;
	visibility:visible;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.main-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:6px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	background:url(../images/icons/submenu-icon.png) center center no-repeat;
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

/*** 

====================================================================
	Hidden Sidebar style
====================================================================

***/

.hidden-bar{
	position: fixed;
	top: 0;
	width: 305px;
	height: 100%;
	background: #29af8a;
	z-index: 9999;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}

.hidden-bar .mCSB_inside > .mCSB_container{
	margin-right:0px;	
}

.hidden-bar.right-align {
	right: -400px;
}

.hidden-bar.right-align.visible-sidebar{
	right:0px;	
}

.hidden-bar.right-align .hidden-bar-closer {
	left: -20px;
}

.hidden-bar.left-align {
	left: -400px;
}

.hidden-bar.left-align.visible-sidebar {
	left: 0px;
}

.hidden-bar.left-align .hidden-bar-closer {
	right: -20px;
}

.hidden-bar .hidden-bar-closer {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	background: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	z-index: 999999;
}

.hidden-bar .hidden-bar-closer:hover {
	background: #fff;
}

.hidden-bar .hidden-bar-closer:hover .btn {
	color: #29af8a;
}

.hidden-bar .hidden-bar-closer .btn {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 14px;
}

.hidden-bar .social-icons {
	text-align: center;
	margin: 50px 0px 30px;
}

.hidden-bar .social-icons ul {
	font-size: 0;
	margin-left: -5px;
	margin-right: -5px;
}

.hidden-bar .social-icons ul li {
	display: inline-block;
	padding: 0 5px;
}

.hidden-bar .social-icons ul li a {
	display: block;
	width: 36px;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	background: #2B2B2B;
	color: #29af8a;
	border-radius: 5px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.hidden-bar .social-icons ul li a:hover {
	background: #ec1c33;
	color:#ffffff;
}

.hidden-bar-wrapper {
	height: 100%;
}

.hidden-bar .logo {
	padding: 30px 0px;
	background: #29af8a;
}

.hidden-bar .side-menu {
	background-color: transparent;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	letter-spacing:1px;
}

.hidden-bar .side-menu ul li ul a {
	background: transparent;
}

.hidden-bar .side-menu ul li ul li ul li a {
	background: transparent;
}

.hidden-bar .side-menu a.current {
	color: #fff;
}

.hidden-bar .side-menu li.current > a {
	color: #fff;
}

.hidden-bar .side-menu ul li a {
	background: transparent;
	color: #ffffff;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	border-top: 1px solid rgba(255,255,255,0.30);
	border-bottom: 1px solid rgba(255,255,255,0.30);
	padding: 10px 15px 10px 20px;
	position: relative;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.hidden-bar .side-menu ul li a:hover {
	background: transparent;
	color: #fff;
}

.hidden-bar .side-menu ul li a .btn.expander {
	background: none;
	color: #ffffff;
	border: 1px solid rgba(255,255,255,0.80);
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 0px;
	position: absolute;
	top: 6px;
	right: 20px;
	outline: none;
}


/*** 

====================================================================
	Main Slider style
====================================================================

***/

.main-slider{
	position:relative;
	width:100%;
	color:#ffffff;
	font-size:15px;
	line-height:2em;
}

.main-slider .tp-bannertimer{
	display:none;	
}

.main-slider h3{
	font-size:20px;	
}

.main-slider h1{
	font-weight:700;
	font-size:60px;
}

.main-slider h1.text-lowercase{
	font-size:80px;
	letter-spacing:3px;	
}

.main-slider .bigger-text{
	font-size:16px;
	font-family:'Montserrat',sans-serif;
	font-weight:700;
}

.main-slider .bg-color{
	padding:12px 40px;
	background:#777879;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	border-radius:3px;
	line-height:26px;
}

.main-slider .theme-btn{
	font-weight:700;
	padding:14px 35px;
	font-size:13px;
	line-height:26px;	
}

.main-slider .tparrows.preview1:hover::after{
	background-color:#f25f43;
	color:#ffffff !important;
}

/*** 

====================================================================
	Normal Section style
====================================================================

***/

.normal-section{
	position:relative;	
}

.vertical-green-bar{
	position:relative;
	background:#f25f43;
	color:#ffffff;
	z-index:100;
	margin-top:-244px;
}

.vertical-green-bar .upper-part{
	position:relative;
	padding:60px 60px;	
}

.vertical-green-bar h2{
	font-size:22px;
	color:#282828;
	text-transform:uppercase;
	margin-bottom:15px;
	font-weight:700;
	line-height:1.8em;
}

.vertical-green-bar h2 .big-text{
	font-size:40px;	
}

.vertical-green-bar h2 .white-text{
	font-size:30px;
	color:#ffffff;	
}

.vertical-green-bar .desc-text{
	margin-bottom:40px;
}

.vertical-green-bar .donation-box{
	position:relative;
	font-family:'Montserrat',sans-serif;	
}

.vertical-green-bar .donation-box .title-text{
	font-size:12px;
	text-transform:uppercase;
	color:#282828;
	margin-bottom:5px;
	

}

.vertical-green-bar .donation-box .needed-amount{
	font-size:36px;
	text-transform:uppercase;
	font-weight:700;
	color:#ffffff;
	margin-bottom:48px;	
}

.vertical-green-bar .donation-bar-outer{
	position:relative;	
}

.vertical-green-bar .donation-bar-outer .raised-percent{
	position:absolute;
	right:0px;
	top:-40px;
	line-height:24px;
	padding:0px 15px;
	text-align:center;
	background:#ffffff;
	color:#282828;
	border-radius:3px;
	font-size:11px;
	text-transform:uppercase;
}

.vertical-green-bar .donation-bar-outer .raised-percent:after{
	content:'\f0d7';
	font-family:'FontAwesome';
	position:absolute;
	left:0px;
	bottom:-6px;
	height:7px;
	width:100%;
	color:#ffffff;
	text-align:center;
	line-height:7px;
}

.vertical-green-bar .donation-bar{
	position:relative;
	height:6px;
	width:100%;
	background:#efeeee;
	margin-bottom:30px;
}

.vertical-green-bar .donation-bar .bar-fill{
	position:relative;
	display:block;
	height:6px;
	background:#282828;	
}

.vertical-green-bar .donation-box .raised-info{
	font-size:14px;
	color:#282828;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
}

.vertical-green-bar .donation-box .raised-amount{
	font-size:20px;
	color:#ffffff;
}

.vertical-green-bar .donate-link-box{
	position:relative;
	padding:50px 30px;
	text-align:center;
	color:#ffffff;
	background-size:cover;
	background-position: center top;
	background-repeat:no-repeat;
}

.vertical-green-bar .donate-link-box:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:20px;
	background:#208dc6;
	opacity:0.80;
}

.vertical-green-bar .donate-link-box:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	border:185px solid transparent;
	border-top:40px solid #208dc6;
}

.vertical-green-bar .donate-link-box a{
	position:relative;
	display:block;
	font-size:16px;
	font-weight:700;
	color:#ffffff;
	line-height:30px;
	text-transform:uppercase;
	padding:20px 15px 10px;	
}


.become-volunteer-outer{
	position:relative;
	padding:30px 0px 0px;
}

.become-volunteer-column{
	position:relative;
	padding:20px;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;	
}

.become-volunteer-column .inner-box{
	position:relative;
}

.become-volunteer-column .overlay-box{
	position:relative;
	padding:90px 15px;
	background:rgba(0,0,0,0.70);	
}

.become-volunteer-column .content-box{
	max-width:440px;
	margin:0 auto;
	color:#e2e2e2;	
}

.become-volunteer-column .content-box h3{
	font-size:14px;
	margin-bottom:0px;
	text-transform:uppercase;
}

.become-volunteer-column .content-box h2{
	font-size:46px;
	color:#fafafa;
	font-weight:700;
	margin-bottom:30px;
	text-transform:capitalize;	
}

.become-volunteer-column .content-box .lower-content{
	position:relative;
	padding-left:204px;	
}

.become-volunteer-column .content-box .desc-text{
	margin-bottom:10px;	
	text-align: justify;
}

.become-volunteer-column .content-box .lower-content .apply-btn{
	position:absolute;
	left:0px;
	top:12px;
	padding:12px 35px;
}

/*** 

====================================================================
	Default Section style
====================================================================

***/

.default-section{
	position:relative;
	padding:120px 0px;
}

.bg-light-grey{
	background-color:#fbfbfb;	
}

.section-title{
	position:relative;
	max-width:650px;
	margin:0 auto;
	text-align:center;
	margin-bottom:40px;	
}

.section-title h3{
	font-size:12px;
	margin-bottom:10px;
	text-transform:uppercase;
}

.section-title h4{
	font-size:18px;
	margin-bottom:15px;
	font-weight:700;
	letter-spacing:2px;
	color:#282828;
	text-transform:uppercase;
}

.section-title h2{
	font-size:40px;
	margin-bottom:60px;
	text-transform:uppercase;
	color:#282828;
	font-weight:700;
	letter-spacing:1px;
}

.contact-section .section-title{
	margin-bottom:50px;	
}

.contact-section .section-title h2{
	font-size:40px;
	margin-bottom:10px;	
}

.contact-section .section-title h2:after{
	display:none;	
}

.section-title h1{
	font-size:44px;
	margin-bottom:-10px;
	text-transform:uppercase;
	color:#282828;
	font-weight:700;
	letter-spacing:1px;
}
/*
.section-title h2:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:-25px;
	display:block;
	width:100%;
	height:20px;
	background:url(../images/icons/styled-heading-bg.png) center bottom no-repeat;	
}*/

.section-title .desc-text{
	font-size:15px;	
}

.recent-causes-section{
	padding:25px 0px 50px;
}

.all-causes-section{
	padding:100px 0px 120px;
}

.recent-causes-section .column{
	margin-bottom:50px;	
}

.all-causes-section .column{
	margin-bottom:30px;	
}

.default-cause-column{
	position:relative;	
}

.default-cause-column .inner-box{
	position:relative;
	background:#fbfbfb;
	font-family:'Montserrat',sans-serif;
}

.default-cause-column .image-box{
	position:relative;
	overflow:hidden;	
}

.default-cause-column .image-box:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,1));
	background:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,1));
	background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,1));
	background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,1));
	opacity:1;
	transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
	-motransition:all 700ms ease;
}

.default-cause-column:hover .image-box:before{
	opacity:0;	
}

.default-cause-column .image-box img{
	display:block;
	width:100%;	
}

.default-cause-column .image-box .cause-over-title{
	position:absolute;
	left:0px;
	bottom:24px;
	font-size:12px;
	text-align:center;
	padding:0px 15px;
	color:#ffffff;
	width:100%;
	font-weight:700;
}

.default-cause-column:hover .image-box .cause-over-title{
	opacity:0;
	bottom:-100px;	
}

.default-cause-column .image-box .raised-money{
	color:#ec1c33;
	font-size:22px;
}

.default-cause-column .image-box .total-goal{
	color:#29af8a;	
}

.default-cause-column .image-box .overlay-box{
	position:absolute;
	left:0px;
	top:-100%;
	font-size:12px;
	text-align:center;
	padding:20px 15px;
	color:#ffffff;
	font-weight:700;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.70);
	opacity:0;
}

.default-cause-column:hover .image-box .overlay-box{
	opacity:1;
	top:0px;	
}

.default-cause-column .image-box .overlay-box .content{
	position:relative;
	top:50%;
	margin-top:-45px;	
}

.default-cause-column .image-box .overlay-box .content p{
	margin-bottom:20px;	
}

.default-cause-column .image-box .overlay-box,
.default-cause-column .image-box .cause-over-title{
	transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
	-motransition:all 700ms ease;	
}

.default-cause-column .donation-bar-outer{
	margin-bottom:20px;	
}

.default-cause-column .donation-bar-outer .raised-percent{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 10px;
	font-size:14px;
	color:#ec1c33;
	background:#ffffff;
	font-weight:700;
	letter-spacing:1px;
}

.default-cause-column .donation-bar-outer .donation-bar{
	position:relative;
	height:10px;
	width:100%;
	background:#e4e3e3;
}

.default-cause-column .donation-bar-outer .donation-bar .bar-fill{
	position:relative;
	display:block;
	height:10px;
	background:#f25f43;	
}

.default-cause-column h3.cause-title{
	font-size:17px;
	font-weight:700;
	margin-bottom:20px;
	text-transform:uppercase;
	color:#303030;
}

.default-cause-column h3.cause-title a{
	color:#303030;	
}

.default-cause-column .time-remaining{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:2px 18px;
	color:#ffffff;
	font-size:11px;
	text-transform:uppercase;
	background:#29af8a;
	margin-bottom:40px;
	border-radius:3px;
}

/*** 

====================================================================
	Default Image Section style
====================================================================

***/

.default-image-section{
	position:relative;
	padding:120px 0px 0px;
	background-position:center bottom;
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom:120px;
}

.default-image-section:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#fbfbfb;
	opacity:0.98;
}

.default-theme-subtitle{
	position:relative;
	display:inline-block;
	padding:7px 25px;
	line-height:24px;
	background:#29af8a;
	color:#ffffff;
	text-transform:capitalize;
	font-size:12px;
	border-radius:3px;
}

.default-text-column .bigger-title{
	font-weight:700;
	font-size:54px;
	text-transform:uppercase;
	color:#282828;
	line-height:1.2em;
	margin-bottom:5px;
}

.default-text-column .medium-title{
	font-size:26px;
	text-transform:uppercase;
	color:#282828;
	font-weight:700;
}

.default-text-column .desc-text{
	margin:20px 0px 50px;
	text-align:justify;
}

.default-text-column .theme-btn{
	padding:10px 40px;
	font-weight:700;	
}

.default-image-section .image-column{
	position:relative;
	margin:-160px 0px -550px;	
}

.default-image-section .image-column img{
	display:inline-block;
	max-width:100%;	
}

/*** 

====================================================================
	Fact Counter Style
====================================================================

***/

.bigger-container{
	max-width:1340px;
	margin:0 auto;	
}

.fact-counter{
	position:relative;
	padding:0px 0px;
	color:#ffffff;
	background-color:#252525;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	width:100%;
}

.fact-counter.negative-margin{
	top:120px;	
}

.fact-counter .column{
	position:relative;
	padding:80px 15px 70px;
	text-align:center;
	background:rgba(0,0,0,0.90);
	z-index:5;	
}

.fact-counter .column:nth-child(2),
.fact-counter .column:nth-child(4){
	background:rgba(25,25,25,0.90);
}

.fact-counter .count-outer{
	position:relative;
	font-size:36px;
	font-weight:600;
	padding:0px 30px 0px;
}

.fact-counter .column .line{
	position:relative;
	margin:15px auto 10px;	
}

.fact-counter .column .line .dot{
	display:inline-block;
	width:4px;
	height:4px;
	margin:0px -1px;
	background:#29af8a;
}

.fact-counter .column .count-text{
	position:relative;
	font-size:38px;
	font-weight:400;
	text-transform:uppercase;
	font-family:'Montserrat',sans-serif;
	color:#ffffff;
	letter-spacing:1pX;
}

.fact-counter .column .counter-title{
	position:relative;
	font-size:13px;
	font-weight:400;
	text-transform:uppercase;
	font-family:'Montserrat',sans-serif;
	color:#ffffff;
}

/*** 

====================================================================
	Default Stories Section style
====================================================================

***/

.default-stories-section{
	position:relative;
	padding:120px 0px;
	background-position:center bottom;
	background-size:cover;
	background-repeat:no-repeat;
}

.all-stories-section .column{
	margin-bottom:30px;
}

.featured-story-section{
	overflow:hidden;
	padding-top:0px;	
}

.default-stories-section .outer-box{
	position:relative;
	padding:60px 0px;	
}

.default-stories-section .outer-box:before{
	content:'';
	position:absolute;
	right:0px;
	top:0px;
	width:70%;
	height:100%;
	border:15px solid rgba(0,0,0,0.01);	
}

.default-stories-section.featured-story-section .outer-box:before{
	content:'';
	position:absolute;
	left:35%;
	right:auto;
	top:0px;
	width:170%;
	height:100%;
	border:none;
	background:#fbfbfb;
}

.defaulty-story-column{
	position:relative;	
}

.default-stories-section .default-story-column{
	margin-bottom:15px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}


.default-story-column .inner-box{
	position:relative;	
}

.default-story-column .image-box{
	position:relative;
	overflow:hidden;
	border-radius:3px;	
}

.default-story-column .image-box img{
	display:block;
	width:100%;	
}

.default-story-column .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:10px solid transparent;
	font-family:'Montserrat',sans-serif;	
}

.default-story-column .over-link{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;	
}

.default-story-column .overlay-box .bg-box{
	position:absolute;
	left:0px;
	top:0px;
	display:table;
	vertical-align:middle;
	width:100%;
	height:100%;
	padding:20px 30px 20px 90px;
	background:rgba(255,255,255,0.96);
	border-radius:3px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.default-story-column:hover .overlay-box .bg-box,
.default-story-column.active-btn .overlay-box .bg-box{
	background:rgba(0,0,0,0.80);
	color:#ffffff;
}

.default-story-column .overlay-box .content-box{
	position:relative;
	display:table-cell;
	vertical-align:middle;	
}

.default-story-column .overlay-box h2{
	font-size:20px;
	color:#282828;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:15px;
}

.default-story-column:hover .overlay-box h2,
.default-story-column.active-btn .overlay-box h2{
	color:#ffffff;	
}

.default-story-column .overlay-box li{
	position:relative;
	display:inline-block;
	margin-right:40px;
}

.default-story-column .overlay-box li .amount{
	color:#ec1c33;
	font-size:15px;	
	font-weight:700;
}

.featured-story-column{
	position:relative;	
}

.featured-story-column .inner-box{
	position:relative;	
}

.featured-story-column .image-box{
	position:relative;
	overflow:hidden;
	border-radius:3px;	
}

.featured-story-column .image-box img{
	display:block;
	width:100%;	
}

.featured-story-column .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;	
}

.featured-story-column .overlay-box .bg-box{
	position:absolute;
	left:0px;
	top:0px;
	display:table;
	vertical-align:middle;
	width:100%;
	height:100%;
	color:#d0cfcf;
	padding:20px 60px;
	background:rgba(0,0,0,0.80);
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.featured-story-column .overlay-box .content-box{
	position:relative;
	display:table-cell;
	vertical-align:middle;	
}

.featured-story-column .overlay-box h4{
	position:relative;
	font-size:15px;
	font-weight:700;
	text-transform:capitalize;
}

.featured-story-column .overlay-box h2{
	color:#ffffff;
	font-size:54px;
	font-weight:700;
	text-transform:uppercase;
	margin:-7px 0px -18px;
}

.featured-story-column .overlay-box h3{
	position:relative;
	font-size:40px;
	font-weight:700;
	text-transform:uppercase;
	color:#ec1c33;
}

.featured-story-column .overlay-box .desc-text{
	margin-bottom:50px;
}

.default-image-column img{
	display:block;
	width:100%;
	border-radius:3px;	
}

.story-info-column{
	position:relative;
	padding:40px 60px 0px 30px;
}

.story-info-column .bigger-title{
	font-weight:700;
	font-size:24px;
	text-transform:uppercase;
	color:#282828;
	line-height:1.2em;
	margin-bottom:25px;
}

.featured-story-section .story-info-column .bigger-title{
	margin-bottom:15px;	
}

.story-info-column .event-date{
	font-size:13px;
	margin-bottom:30px;	
}

.story-info-column .medium-title{
	font-weight:700;
	font-size:15px;
	line-height:1.2em;
	margin-bottom:30px;
	color:#454545;
}

.featured-story-section .story-info-column .medium-title{
	font-size:16px;
	font-weight:400;	
}

.story-info-column .medium-title .amount{
	font-size:20px;
	color:#ec1c33;	
}

.featured-story-section .story-info-column .medium-title .amount{
	font-size:24px;	
}

.story-info-column .desc-text{
	margin:20px 0px 55px;
	text-align:justify;
}

.featured-story-section .story-info-column .desc-text{
	margin-bottom:40px;	
}

.story-info-column .theme-btn{
	padding:12px 30px;
	font-weight:700;	
}


/* Tabbed Stories Column*/

.tabbed-stories .story-buttons .story-btn{
	margin-right:80px;
}

.tabbed-stories .story-buttons .story-btn.active-btn{
	margin-right:0px;
	margin-left:80px;	
}

.default-stories-section .tabbed-stories .story{
	display:none;	
}

.default-stories-section .tabbed-stories .active-story{
	display:block;	
}

/*** 

====================================================================
	Recent Donors Section style
====================================================================

***/

.recent-donors-section{
	position:relative;
	background-position:left bottom;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
}

.recent-donors-section:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0.80;
	background:#f25f43;	
}

.recent-donors-section .title-column{
	position:relative;
	padding:100px 15px 20px;
	color:#ffffff;
}

.recent-donors-section .title-column .inner-box{
	position:relative;
	margin-left:-60px;
	font-size:13px;
	padding-right:80px;
}

.recent-donors-section .title-column h3{
	font-size:26px;
	text-transform:capitalize;
	margin-bottom:10px;
	font-weight:700;
}

.recent-donors-section .carousel-column{
	position:relative;
	padding:90px 15px 90px 60px;
	background:#fdfcfb;
}

.recent-donors-section .carousel-column:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:200%;
	height:100%;
	background:#fdfcfb;
}

.recent-donors-section .slider-outer{
	position:relative;	
}

.recent-donors-section .donors-header{
	position:relative;
	margin-bottom:40px;	
}

.recent-donors-section .donors-header h3{
	font-size:16px;
	text-transform:uppercase;
	color:#282828;
	font-weight:700;
	padding:10px 0px;
}

.recent-donors-section .donors-header h3 .theme_color{
	font-size:20px;	
}

.recent-donors-section .donors-header .theme-btn{
	padding:10px 30px;	
}

.default-donor-column{
	position:relative;	
}

.default-donor-column .inner-box{
	position:relative;
	padding:0px 20px 0px 120px;	
}

.default-donor-column .donor-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:90px;
	height:90px;	
}

.default-donor-column .donor-thumb img{
	display:block;
	width:90px;	
}

.default-donor-column h3{
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	color:#282828;
	margin-bottom:5px;
}

.default-donor-column .designation{
	display:inline-block;
	padding:3px 20px;
	color:#ffffff;
	font-size:11px;
	text-transform:capitalize;
	background:#29af8a;
	margin-bottom:10px;
	border-radius:3px;
}

.default-donor-column .raised-money{
	font-size:12px;
	color:#ec1c33;
	text-transform:uppercase;
	font-weight:700;	
}

.recent-donors-section .owl-dots{
	display:none !important;	
}

.recent-donors-section .owl-controls{
	position:absolute;
	left:-304px;
	bottom:0px;
	z-index:20;	
}

.recent-donors-section .owl-controls .owl-next{
	width:36px;
	height:36px;
	padding:0px !important;
	line-height:36px;
	background:#1c1c1c !important;
	color:#ffffff !important;
	text-align:center;
	font-size:14px;
}

.recent-donors-section .owl-controls .owl-prev{
	width:36px;
	height:36px;
	padding:0px !important;
	line-height:36px;
	background:#1c1c1c !important;
	color:#ffffff !important;
	text-align:center;
	font-size:14px;
}

.recent-donors-section .owl-controls .owl-next:hover,
.recent-donors-section .owl-controls .owl-prev:hover{
	background:#ffffff !important;
	color:#1c1c1c !important;
}


/*** 

====================================================================
	Custom Background Section Style
====================================================================

***/

.custom-bg-section{
	position:relative;
	padding:75px 0px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
	font-family:'Montserrat',sans-serif;	
}

.custom-bg-section .content-outer{
	position:relative;
	padding:80px 170px;
	color:#ffffff;
	background:rgba(0,0,0,0.60);
	border-radius:5px;
	text-align:center;
}

.custom-bg-section .custom-slider{
	position:relative;	
}

.custom-bg-section .custom-slider .slide-item .day-remaining{
	display:inline-block;
	padding:5px 25px;
	line-height:24px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	background:#208dc6;
	margin-bottom:15px;
	border-radius:3px;
}

.custom-bg-section .custom-slider h2{
	font-size:36px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:0px;	
}

.custom-bg-section .custom-slider h3{
	font-size:18px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:30px;	
}

.custom-bg-section .custom-slider .text{
	font-size:14px;
	font-family:'Arimo',sans-serif;
	margin-bottom:50px;		
}

.custom-bg-section .custom-slider .slide-content{
	max-width:770px;
	margin:0 50px auto;	
}

.custom-bg-section .info-content{
	position:relative;
	margin-bottom:45px;
}

.custom-bg-section .info-content .info-column{
	position:relative;
	display:block;
	width:33.333%;
	vertical-align:middle;
	float:left;
	padding:0px 7px;
	color:#ffffff;
}

.custom-bg-section .info-content .info-column .inner{
	position:relative;
	display:table;
	width:100%;
	height:100px;
	padding:10px 15px;
	vertical-align:middle;
}

.custom-bg-section .info-content .info-column .inner:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#a91626;
	border-radius:4px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.custom-bg-section .info-content .info-column.active .inner:before{
	background:#f0374c;
	opacity:0.70;
	-webkit-transform:scale(1,1.15);
	-ms-transform:scale(1,1.15);
	-o-transform:scale(1,1.15);
	-moz-transform:scale(1,1.15);
	transform:scale(1,1.15);
}
	
.custom-bg-section .info-content .info-column .inner .content{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	font-size:12px;
}

.custom-bg-section .slider-outer{
	position:relative;
	margin-bottom:20px;
	padding:0px 0px;	
}

.custom-bg-section .slider-outer .bx-prev{
	position:absolute;
	left:0px;
	top:50px;
	width:40px;
	height:50px;
	font-size:60px;
	font-weight:300;
	color:#ffffff;
}

.custom-bg-section .slider-outer .bx-next{
	position:absolute;
	right:0px;
	top:50px;
	width:40px;
	height:50px;
	font-size:60px;
	font-weight:300;
	color:#ffffff;
}

.custom-bg-section .slider-outer .bx-next:hover,
.custom-bg-section .slider-outer .bx-prev:hover{
	color:#ec1c33;	
}

.custom-bg-section .theme-btn{
	padding:12px 30px;
	line-height:26px;
}

/*** 

====================================================================
	Custom Background Section Style
====================================================================

***/

.default-products-section{
	position:relative;
	padding:120px 0px;
	background-position:right bottom;
	background-repeat:no-repeat;
	background-color:#fcfcfc;
	overflow:hidden;
}

.products-section{
	position:relative;
	padding:120px 0px;	
}

.related-products .default-product-column{
	margin-bottom:20px;	
}

.default-product-column{
	position:relative;
}

.products-section .default-product-column{
	margin-bottom:40px;	
}

.default-products-section .default-product-column{
	padding:0px !important;	
}

.default-product-column.vertical-column{
	padding:0px 15px !important;	
}

.default-product-column .inner-box{
	position:relative;	
}

.default-products-section .default-product-column .inner-box{
	padding-bottom:20px;
	background:#ffffff;	
}

.default-product-column.vertical-column .inner-box{
	padding-bottom:0px !important;
	background:none;	
}

.default-product-column .inner-box .column{
	padding:0px !important;	
}

.default-product-column .image-box{
	position:relative;	
}

.default-product-column .image-box img{
	display:block;
	width:100%;	
}

.default-product-column .image-box .overlay-box{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	border:15px solid transparent;
	font-family:'Montserrat',sans-serif;	
}

.default-product-column.vertical-column .image-box .overlay-box{
	border-bottom-width:25px;	
}

.default-product-column .image-box .overlay-box .info{
	position:relative;
	font-size:13px;
	color:#999999;
	padding:20px 15px;
	line-height:20px;
	background:rgba(255,255,255,0.95);
	font-weight:700;
	border-radius:3px;
}

.default-product-column .image-box .overlay-box .price{
	font-size:15px;
	color:#ec1c33;
	padding-right:5px;
}

.default-product-column .image-box .overlay-box .actual-price{
	text-decoration:line-through;
}

.default-product-column .content-box{
	position:relative;
	padding:55px 20px 10px;	
}

.default-product-column.vertical-column .content-box{
	padding:25px 20px 0px;	
}

.default-product-column .content-box .prod-title{
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:5px;
}

.default-product-column.vertical-column .content-box .prod-title{
	font-size:16px;	
}

.default-product-column .content-box .prod-title a{
	color:#282828;	
}

.default-product-column .content-box .prod-title a:hover{
	color:#ec1c33;	
}

.default-product-column .prod-rating{
	position:relative;
	font-size:12px;
	margin-bottom:10px;
}

.default-product-column.vertical-column .prod-rating{
	margin-bottom:20px;	
}

.default-product-column .prod-rating .full{
	color:#ec1c33;	
}

.default-product-column .desc-text{
	margin-bottom:32px;	
}

/*** 

====================================================================
	Recent Blog Section Style
====================================================================

***/

.recent-blog-section,
.our-blog-section{
	position:relative;
	padding:120px 0px;
}

.default-blog-post{
	position:relative;	
}

.our-blog-section .default-blog-post{
	margin-bottom:60px;	
}

.blog-grid-view .default-blog-post .imagebox-outer{
	margin-left:125px;	
}

.default-blog-post .image-box{
	position:relative;	
}

.default-blog-post .image-box img{
	display:block;
	width:100%;
	border-radius:3px;	
}

.recent-posts-content .recent-post-data{
	display:none;	
}

.recent-posts-content .active-post-data{
	display:block;	
}

.blog-grid-view .default-blog-post .post-content-outer{
	margin-top:-250px;	
}

.default-blog-post .post-content{
	position:relative;
}

.default-blog-post .post-date{
	position:relative;
	padding:25px 10px 22px;
	text-align:center;
	width:110px;
	background:#ffffff;
	border:6px solid #f8f8f8;
	font-family:'Montserrat',sans-serif;
	font-size:12px;
	font-weight:700;
	color:#555555;
	text-transform:uppercase;
	border-radius:5px;
}

.default-blog-post .post-date .day{
	font-size:28px;
	color:#29af8a;
	margin-bottom:2px;
}

.recent-blog-section .default-blog-post .post-date{
	color:#ec1c33;
}


.default-blog-post .info-header{
	position:relative;
	max-width:440px;
	background:#ffffff;
	margin-top:40px;
	padding:5px 15px 0px 0px;
	border-radius:5px;	
}

.default-blog-post .post-title{
	font-size:22px;
	color:#282828;
	margin:30px 0px 20px;	
}

.default-blog-post .info-header .post-title{
	margin:25px 0px;	
}

.default-blog-post .post-title h2{
	font-size:22px;
	text-transform:uppercase;
	font-weight:700;
}

.default-blog-post .post-title a{
	color:#282828;	
}

.default-blog-post .post-title a:hover{
	color:#ec1c33;	
}

.default-blog-post .post-info{
	position:relative;
	margin-bottom:30px;
}

.blog-grid-view .default-blog-post .post-info{
	margin-bottom:20px;	
}

.default-blog-post .post-info li{
	position:relative;
	line-height:24px;
	padding-left:22px;
	display:inline-block;
	margin-right:30px;
	font-size:12px;	
}

.default-blog-post .post-info li .icon{
	position:absolute;
	left:0px;
	top:0px;
	line-height:24px;
	font-size:14px;
}

.default-blog-post .post-text{
	position:relative;
	margin-bottom:50px;
	text-align:justify;
}

.recent-posts-thumbs{
	position:relative;	
}

.recent-posts-thumbs .recent-post-thumb{
	position:relative;
	float:left;
	width:50%;
	cursor:pointer;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.recent-posts-thumbs .recent-post-thumb.active-thumb{
	outline:20px solid #ffffff;
	outline-offset:0px;
	z-index:2;
	-webkit-transform:scale(1.02,1.02);
	-ms-transform:scale(1.02,1.02);
	-o-transform:scale(1.02,1.02);
	-moz-transform:scale(1.02,1.02);
	transform:scale(1.02,1.02);
}

.recent-posts-thumbs .recent-post-thumb figure img{
	display:block;
	width:100%;	
}

.recent-posts-thumbs .recent-post-thumb .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	background:rgba(0,0,0,0.90);
	border-radius:5px;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.recent-posts-thumbs .recent-post-thumb.active-thumb .overlay-box{
	opacity:1;
	visibility:visible;	
}

.recent-posts-thumbs .recent-post-thumb .inner-content{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:20px 40px;
	display:table;
	vertical-align:middle;
	text-align:center;	
}

.recent-posts-thumbs .recent-post-thumb.active-thumb .inner-content{
	padding-top:30px;	
}

.recent-posts-thumbs .recent-post-thumb .content{
	display:table-cell;
	vertical-align:middle;	
}

.recent-posts-thumbs .recent-post-thumb .content .date{
	display:inline-block;
	padding:5px 25px;
	line-height:24px;
	color:#ffffff;
	font-size:11px;
	text-transform:uppercase;
	background:#29af8a;
	border-radius:3px;
}

.recent-posts-thumbs .recent-post-thumb h3{
	font-size:16px;
	font-weight:700;
	color:#ffffff;
	margin:15px 0px;
	text-transform:uppercase;
	line-height:1.8em;	
}

.recent-posts-thumbs .recent-post-thumb h3 a{
	color:#ffffff;	
}

.recent-posts-thumbs .recent-post-thumb .arrow{
	position:relative;
	height:30px;
	width:100%;
	background:url(../images/icons/theme-arrow-left.png) center center no-repeat;	
}


/*** 

====================================================================
	Sponsors Section Style
====================================================================

***/

.sponsors-section{
	position:relative;
	padding:80px 0px;
	background-color:#29af8a;
	overflow:hidden;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.sponsors-section:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#29af8a;
	opacity:0.95;	
}

.sponsors-section.style-two,
.sponsors-section.style-two:before{
	background:#ffffff;
	opacity:1;	
}

.sponsors-section .sponsors-slider{
	position:relative;
	z-index:5;	
}

.sponsors-section .owl-controls{
	display:none !important;	
}

.sponsors-section .sponsors-slider li{
	text-align:center;	
}

.sponsors-section .sponsors-slider li:after{
	content:'';
	position:absolute;
	right:0px;
	top:0px;
	width:10px;
	height:100%;
	background:url(../images/icons/icon-separator.png) center center no-repeat;
}

.sponsors-section.style-two .sponsors-slider li:after{
	background-image:url(../images/icons/icon-separator-2.png);	
}

.sponsors-section .sponsors-slider:after{
	content:'';
	position:absolute;
	right:0px;
	top:0px;
	width:10px;
	height:100%;
	background:#29af8a;	
}

.sponsors-section.style-two .sponsors-slider:after{
	background:#ffffff;	
}

.sponsors-section .sponsors-slider li img{
	display:inline-block;
	max-width:100% !important;
	width:auto !important;
	opacity:1;	
}

.sponsors-section .sponsors-slider li:hover img{
	opacity:0.70;
}


/*** 

====================================================================
	Main Footer
====================================================================

***/

.main-footer{
	position:relative;
	color:#aeaeae;
	background-color:#343434;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

.main-footer:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.85);	
}

.main-footer p{
	line-height:2em;
	margin-bottom:20px;
}

.main-footer .footer-upper{
	position:relative;
	padding:120px 0px 50px;
	z-index:1;
}

.main-footer .footer-upper .column{
	position:relative;
	margin-bottom:50px;	
}

.footer-upper .column h2{
	position:relative;
	font-size:20px;
	line-height:1.4em;
	margin-bottom:40px;
	padding-bottom:15px;
	font-weight:700;
	text-transform:uppercase;
	color:#ffffff;
}

.footer-upper .column h2:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:4px;
	background:url(../images/icons/footer-heading-style.png) left bottom no-repeat;
}

.main-footer .footer-upper a{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.main-footer .footer-upper a:hover{
	color:#ffffff;	
}


.main-footer .contact-info{
	position:relative;
	margin-bottom:20px;
}

.main-footer .contact-info li{
	position:relative;
	padding-left:45px;
	margin:0px 0px 18px;
	line-height:30px;
	font-size:12px;	
}

.main-footer .contact-info li .icon{
	position:absolute;
	font-weight:700;
	font-size:12px;
	color:#ffffff;
	left:0px;
	top:0px;
	line-height:30px;
	width:30px;
	height:30px;
	text-align:center;
	background:#f25f43;
	border-radius:3px;
}

.main-footer .flickr-widget .thumbs-outer{
	position:relative;
	margin-left:-7px;
	margin-right:-7px;	
}

.main-footer .flickr-widget .image-thumb{
	position:relative;
	float:left;
	width:33.3333%;
	padding:0px 7px 15px;	
}

.main-footer .flickr-widget .image-thumb img{
	position:relative;
	 display:block;
	 width:100%;
	 background:#ec1c33;
	 border-radius:3px;	
}

.main-footer .flickr-widget .image-thumb img:hover{
	opacity:0.70;	
}

.main-footer .latest-work .work-block{
	position:relative;
	margin-bottom:1px;	
}

.main-footer .latest-work .work-block .link-box{
	position:relative;
	display:block;
	padding:22px 20px 22px 30px;
	background:#0d0d0d;
	color:#dddddd;
	border-radius:3px;	
}

.main-footer .latest-work .work-block .link-box:hover{
	background:rgba(41,175,138,0.80);
	color:#ffffff;	
}

.main-footer .latest-work .work-block .link-box:hover .info{
	color:#ffffff;	
}

.main-footer .latest-work .work-block .link-box strong{
	display:block;
	font-size:13px;
	text-transform:uppercase;
	font-weight:700;
	font-family:'Montserrat',sans-serif;
}

.main-footer .latest-work .work-block .link-box .info{
	font-size:11px;
	color:#ec1c33;	
}

.main-footer .twitter-widget .text{
	margin-bottom:30px;	
}

.main-footer .twitter-widget .info-box{
	position:relative;
	padding-left:55px;
	font-size:12px;
	margin-bottom:20px;	
}

.main-footer .twitter-widget .info-box strong{
	font-family:'Montserrat',sans-serif;
	font-size:15px;
	color:#dddddd;	
}

.main-footer .twitter-widget .info-box a{
	color:#29af8a;
	font-family:'Montserrat',sans-serif;
	font-size:12px;	
}

.main-footer .twitter-widget .info-box .icon{
	position:absolute;
	left:0px;
	top:0px;
	width:50px;
	font-size:42px;
	color:#29af8a;	
}

.main-footer .twitter-widget .owl-nav{
	display:none;	
}

.main-footer .twitter-widget .owl-controls .owl-dot span{
	background:#303030;	
}

.main-footer .twitter-widget .owl-controls .owl-dot span:hover,
.main-footer .twitter-widget .owl-controls .owl-dot.active span{
	background:#ec1c33;
}

.footer-bottom{
	position:relative;
	padding:30px 0px;
	background:#0d0d0d;
	font-size:13px;
	color:#ebebeb;
}

.footer-bottom .copyright{
	position:relative;
	line-height:24px;
}

/*** 

====================================================================
	Event Info / Countdown Timer
====================================================================

***/

.event-info-container{
	position:relative;
	padding:30px;
	background:#ffffff;
	z-index:100;
	margin:-30px auto;
	border-radius:5px;
}

.event-info-container .info-column .inner-box{
	padding-top:15px;
	padding-left:50px;
	font-family:'Montserrat',sans-serif;
}

.event-info-container .event-info li{
	position:relative;
	float:left;
	margin-right:30px;
	font-size:11px;
	color:#ec1c33;
	text-transform:uppercase;	
}

.event-info-container .event-info li .icon{
	padding-right:5px;
	font-size:12px;
}

.event-info-container .info-column h2{
	font-size:20px;
	color:#282828;
	text-transform:capitalize;
	font-weight:700;
	margin:0px 0px 5px;	
}

.event-info-container .info-column .event-text{
	font-size:13px;
	font-weight:700;
	color:#454545;
}

.event-info-container .info-column .coll-amount{
	font-size:15px;
	color:#ec1c33;
}

.event-info-container .countdown-column .inner-box{
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

.event-info-container .countdown-column .countdown{
	position:relative;
	text-align:center;
}

.event-info-container .countdown-column .countdown .counter-column{
	position:relative;
	float:left;
	width:25%;
	padding:20px 10px;
	border:3px solid #ffffff;
	background:rgba(0,0,0,0.70);
	color:#ec1c33;
	font-size:12px;
	font-family:'Montserrat',sans-serif;
	text-transform:capitalize;
	text-align:center;
	border-radius:5px;
}

.event-info-container .countdown-column .inner-box:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:5px;
	background:#ffffff;	
}

.event-info-container .countdown-column .inner-box:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:5px;
	background:#ffffff;	
}

.event-info-container .countdown-column .countdown .counter-column .line{
	display:block;
	height:1px;
	max-width:20px;
	background:#909090;
	margin:10px auto 5px;	
}

.event-info-container .countdown-column .countdown .counter-column .count{
	position:relative;
	display:block;
	font-weight:700;
	font-size:24px;
	color:#ffffff;
}

/*** 

====================================================================
	Sponsor Organization Section style
====================================================================

***/

.sponsor-organization{
	position:relative;
	padding:120px 0px 80px;
	background-position:right bottom;
	background-repeat:no-repeat;
	background-color:#fcfcfc;
}

.sponsor-organization .column{
	float:left;
	margin-bottom:40px;
	padding:0px 15px;
	width:20%;
}

.default-overlay-column{
	position:relative;	
}

.default-overlay-column .inner-box{
	position:relative;
}

.default-overlay-column .image-box{
	position:relative;
	overflow:hidden;	
}

.default-overlay-column .image-box img{
	display:block;
	width:100%;	
}

.default-overlay-column .overlay-box{
	position:absolute;
	left:0px;
	top:0%;
	font-size:12px;
	text-align:center;
	padding:20px 15px;
	color:#ffffff;
	font-weight:700;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.80);
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-motransition:all 500ms ease;	
}

.default-overlay-column .overlay-box .content{
	position:relative;
	top:50%;
	margin-top:-25px;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-motransition:all 500ms ease;		
}

.default-overlay-column:hover .overlay-box{
	background:rgba(236,28,51,0.80);	
}

.default-overlay-column:hover .overlay-box .content{
	opacity:0;
	visibility:hidden;
}

.default-overlay-column .overlay-box h3{
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
}

.default-overlay-column .overlay-box .don-title{
	position:relative;
	display:inline-block;
	line-height:30px;
	padding:0px 20px;
	margin-bottom:10px;
	color:#ffffff;
	background:#29af8a;
	text-transform:uppercase;
	font-size:10px;	
	border-radius:3px;
}

.default-overlay-column .overlay-box .btn-container{
	position:absolute;
	top:-100%;
	margin-top:-22px;
	left:0px;
	width:100%;
	height:60px;
	opacity:0;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-motransition:all 500ms ease;	
}

.default-overlay-column:hover .overlay-box .btn-container{
	top:50%;
	opacity:1;	
}

/*** 

====================================================================
	Intro Columns style
====================================================================

***/

.services-section{
	position:relative;
	padding:100px 0px 120px;	
}

.intro-column{
	position:relative;
	margin-bottom:30px;
}

.intro-columns .intro-column{
	position:relative;
	margin-bottom:80px;
	padding:0px !important;
}

.intro-column .inner-box{
	position:relative;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.intro-column .inner-box .content-box{
	position:relative;
	padding:60px;
	background:rgba(19,19,19,0.90);
	color:#b9b9b9;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.intro-column:hover .inner-box .content-box{
	background:rgba(0,0,0,0.90);		
}

.intro-column .inner-box .content-box .icon{
	position:relative;
	margin-bottom:30px;
}

.intro-column .inner-box .content-box h3{
	font-size:16px;
	margin-bottom:10px;
	color:#ffffff;	
}

.intro-column .inner-box .content-box .desc-text{
	margin-bottom:40px;	
}

.intro-column .theme-btn{
	padding:12px 45px;	
}

.default-centered-image{
	position:relative;
	text-align:center;	
}

.default-centered-image img{
	display:inline-block;
	max-width:100%;	
}


/*** 

====================================================================
	Page Title style
====================================================================

***/

.page-title-section{
	position:relative;
	background-position:center top;
	background-size:cover;
	background-repeat:no-repeat;
	color:#ffffff;
	overflow:hidden;
}

.page-title-section:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.50);	
}

.page-title-section .auto-container{
	position:relative;
	z-index:2;
}

.page-title-section .page-title{
	position:relative;
	padding:90px 0px 0px;	
}

.page-title-section .page-title h3{
	font-size:14px;
}

.page-title-section .page-title h2{
	font-size:36px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:700;
}

.page-title-section .breadcrumb-outer{
	position:relative;
	padding:20px 0px 20px 30px;
}

.page-title-section .breadcrumb-outer:before{
	content:'';
	position:absolute;
	left:-200px;
	top:0px;
	height:100%;
	width:1700px;
	background:#f25f43;
	-webkit-transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
	transform:skewX(-20deg);
}

.page-title-section .breadcrumb-outer .breadcrumb{
	position:relative;
	background:none;
	margin:0px;
	font-family:'Montserrat',sans-serif;
}

.page-title-section .breadcrumb-outer .breadcrumb li{
	color:#ffffff;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
}

.page-title-section .breadcrumb-outer .breadcrumb > li + li:before{
	padding:0px 10px;
	font-size:14px;
	color:#ffffff;	
}

.page-title-section .breadcrumb-outer .breadcrumb li a{
	color:#ffffff;	
}

/*** 

====================================================================
	pagination style
====================================================================

***/

.styled-pagination{
	position:relative;
}

.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 4px 10px;
	line-height:52px;
	font-family:'Roboto Slab', serif;
	font-weight:700;
	font-size:22px;	
}

.styled-pagination li a{
	position:relative;
	display:block;
	line-height:32px;
	padding:10px 10px;
	font-size:13px;
	text-transform:uppercase;
	min-width:60px;
	background:#fafafa;
	color:#1a1a1a;
	text-align:center;
	font-weight:normal;
	border-radius:5px;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.styled-pagination li a:hover{
	background:#29af8a;
	color:#ffffff;	
}

/*** 

====================================================================
	Sidebar Page COntainer
====================================================================

***/

.sidebar-page-container{
	position:relative;
	padding:100px 0px 70px;
}

.sidebar-page-container .left-content{
	position:relative;
	margin-bottom:50px;	
}


/*** 

====================================================================
	Single Cause Section
====================================================================

***/

.single-cause-section{
	position:relative;
}

.single-post-section .single-post-header{
	position:relative;
	margin-bottom:60px;	
}

.single-post-section .single-post-header .image-box{
	position:relative;	
}

.single-post-section .single-post-header .image-box img{
	display:block;
	width:100%;	
}

.single-post-section .single-post-header .header-content{
	position:relative;
	padding:40px 60px;
	border:20px solid #f6f6f6;
	border-top:none;
	background:#fafafa;	
}

.single-post-section .single-post-header .header-content .post-date{
	position:absolute;
	right:40px;
	top:-60px;
	padding:25px 10px 22px;
	text-align:center;
	width:104px;
	background:#ffffff;
	border:6px solid #f8f8f8;
	font-family:'Montserrat',sans-serif;
	font-size:12px;
	font-weight:700;
	color:#555555;
	text-transform:uppercase;
	border-radius:5px;
}

.single-post-section .single-post-header .header-content .post-date .day{
	font-size:28px;
	color:#29af8a;
	margin-bottom:2px;
}

.single-post-section .single-post-header .post-title{
	font-size:22px;
	color:#282828;
	margin-bottom:25px;	
}

.single-post-section .product-single-header .post-title{
	margin-bottom:15px !important;	
}

.single-post-section .single-post-header .prod-rating{
	position:relative;
}

.single-post-section .single-post-header .prod-rating .full{
	color:#ec1c33;	
}

.single-post-section .single-post-header .price-info{
	font-weight:700;
	color:#999999;
	margin-bottom:10px;	
}

.single-post-section .single-post-header .price-info .price{
	font-size:18px;
	color:#ec1c33;
	padding-right:5px;
}

.single-post-section .single-post-header .price-info .actual-price{
	text-decoration:line-through;
}

.single-post-section .single-post-header .post-title h2{
	font-size:22px;
	text-transform:uppercase;
	font-weight:700;
}

.single-post-section .single-post-header .post-title a{
	color:#282828;	
}

.single-post-section .single-post-header .post-title a:hover{
	color:#ec1c33;	
}

.single-post-section .single-post-header .post-info{
	position:relative;
	margin-bottom:10px;
}

.single-post-section .single-post-header .event-info{
	font-family:'Montserrat',sans-serif;	
}

.single-post-section .single-post-header .event-info li a{
	font-family:'Arimo',sans-serif;	
}

.single-post-section .single-post-header .post-info li{
	position:relative;
	line-height:24px;
	padding-left:22px;
	display:inline-block;
	margin-right:30px;
	font-size:12px;	
}

.single-post-section .single-post-header .prod-info li,
.single-post-section .single-post-header .event-info li{
	padding-left:0px;	
}

.single-post-section .single-post-header .post-info li .icon{
	position:absolute;
	left:0px;
	top:0px;
	line-height:24px;
	font-size:14px;
}

.single-post-section .single-post-header .content p{
	position:relative;
	font-size:12px;
	text-align:center;
	padding:12px 0px;
	margin:0px;
	font-family:'Montserrat',sans-serif;
	width:100%;
	font-weight:700;
}

.single-post-section .single-post-header .content .raised-money{
	color:#ec1c33;
	font-size:20px;
}

.single-post-section .single-post-header .content .total-goal{
	color:#29af8a;	
}

.single-post-section .single-post-header .donation-bar-outer{
	margin-top:30px;	
}

.single-post-section .single-post-header .donation-bar-outer .raised-percent{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:10px 10px;
	font-size:14px;
	color:#ec1c33;
	background:#ffffff;
	font-weight:700;
	letter-spacing:1px;
}

.single-post-section .single-post-header .donation-bar-outer .donation-bar{
	position:relative;
	height:10px;
	width:100%;
	background:#e4e3e3;
	border-radius:3px;
}

.single-post-section .single-post-header .donation-bar-outer .donation-bar .bar-fill{
	position:relative;
	display:block;
	height:10px;
	background:#ec1c33;
	border-radius:3px;
}

.single-post-section .product-single-header .form-group{
	position:relative;
	margin-bottom:0px;
	padding:25px 0px;	
}

.single-post-section .product-single-header .form-group label{
	font-weight:normal;
	font-family:'Montserrat',sans-serif;
	font-size:12px;
	padding-right:20px;
	text-transform:uppercase;
	padding-top:5px;
}

.single-post-section .product-single-header .product-thumbs .image-thumb{
	float:left;
	padding:0px 5px 5px;	
}

.single-post-section .text-block{
	position:relative;
	margin-bottom:60px;	
	text-align:justify;
}

.single-post-section .text-block h3{
	font-size:18px;
	font-weight:700;
	margin-bottom:10px;
	color:#282828;
}

.single-post-section .image-gallery{
	position:relative;
	margin-bottom:50px;	
	border-radius:3px;
	overflow:hidden;
}

.single-post-section .image-gallery .image-column{
	position:relative;
	padding:0px !important;
	background:#ec1c33;
}

.single-post-section .image-gallery .image-column img{
	display:block;
	width:100%;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.single-post-section .image-gallery .image-column img:hover{
	opacity:0.75;	
}

.single-post-section blockquote{
	position:relative;
	margin-bottom:50px;
	padding:60px 50px;
	color:#ffffff;
	text-align:center;
	border:none;
	font-style:italic;
	background-color:#555555;
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:3px;
	overflow:hidden;
}

.single-post-section blockquote:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.70);	
}

.single-post-section blockquote h4{
	position:relative;
	font-size:18px;	
}


.specific-donors{
	position:relative;
	padding:10px;
	border-radius:3px;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;	
}

.specific-donors .over-box{
	position:relative;
	background:rgba(255,255,255,0.97);
	padding:50px 70px 20px;
	border-radius:3px;
}

.specific-donors .default-donor-column{
	margin-bottom:30px;	
}

.specific-donors .see-all{
	max-width:280px;	
}

.specific-donors .see-all .theme-btn{
	padding:12px 40px;
	border-radius:5px;	
}

.styled-heading{
	position:relative;
	margin-bottom:35px;	
}

.styled-heading h4{
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:5px;	
}

.styled-heading h3{
	font-size:22px;
	text-transform:uppercase;
	margin-bottom:0px;
	color:#282828;
	font-weight:700;
}

.styled-heading h3:after{
	content:'';
	display:block;
	width:50px;
	height:3px;
	background:#ec1c33;
	margin:10px 0px 0px;	
}

/*** 

====================================================================
	Sidebar Style
====================================================================

***/

.sidebar .sidebar-widget{
	position:relative;
	margin-bottom:60px;
}

.search-widget .form-group{
	position:relative;
	margin:0px;	
}

.search-widget .form-group input[type="text"],
.search-widget .form-group input[type="search"]{
	position:relative;
	line-height:26px;
	padding:15px 50px 15px 20px;
	border:1px solid #f6f6f6;
	background:#f6f6f6;
	color:#3a3a3a;
	display:block;
	width:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.search-widget .form-group input:focus{
	border-color:#29af8a;	
}

.search-widget .form-group button{
	position:absolute;
	right:10px;
	top:0px;
	height:56px;
	width:30px;
	line-height:58px;
	text-align:left;
	display:block;
	font-size:14px;
	color:#d0d0d0;
	background:none;
}

.search-widget .form-group input:focus + button,
.search-widget .form-group button:hover{
	color:#ec1c33;	
}

.cause-widget .image-box:before{
	opacity:1 !important;
}

.cause-widget .image-box .cause-over-title{
	padding-left:40px;
	text-align:left;
	bottom:25px !important;
	opacity:1 !important;
}

.cause-widget .cause-title{
	padding:0px 40px;
	font-size:15px !important;
}

.cause-widget .post-info{
	padding:0px 30px 40px 40px;
	margin-bottom:30px;
}

.cause-widget .post-info li{
	position:relative;
	line-height:24px;
	padding-left:22px;
	display:inline-block;
	margin-right:30px;
	font-size:12px;	
}

.cause-widget .post-info li .icon{
	position:absolute;
	left:0px;
	top:0px;
	line-height:24px;
	font-size:14px;
}

.sidebar-title{
	position:relative;
	margin-bottom:20px;	
}

.sidebar-title h4{
	font-size:12px;
	text-transform:capitalize;
	margin-bottom:3px;
}

.sidebar-title h3{
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#282828;
	font-weight:700;
}

.links-widget .links-nav{
	position:relative;
	padding:30px 45px;
	background:#fbfbfb;
	border-radius:5px;
}

.links-widget .links-nav ul li{
	position:relative;
	display:block;
	margin-bottom:20px;	
}

.links-widget .links-nav ul li:last-child{
	margin:0px;	
}

.links-widget .links-nav ul li a{
	position:relative;
	display:block;
	line-height:24px;
	padding-left:20px;
	color:#555555;
}

.links-widget .links-nav ul li:hover a,
.links-widget .links-nav ul li.current a{
	color:#ec1c33;	
}

.links-widget .links-nav ul li a:before{
	content:'\f0da';
	 font-family: 'FontAwesome';
	position:absolute;
	left:0px;
	top:50%;
	height:24px;
	line-height:24px;
	margin-top:-12px;	
}

.video-widget .video-box{
	position:relative;
	border-radius:3px;
	overflow:hidden;	
}

.video-widget .image-box img{
	display:block;
	width:100%;	
}

.video-widget .video-box{
	margin-bottom:20px;	
}

.video-widget .video-box .play-btn{
	position:absolute;
	left:0px;
	top:0px;
	display:block;
	width:100%;
	height:100%;
	background:url(../images/icons/icon-play.png) center center no-repeat;
	background-color:rgba(0,0,0,0.70);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.video-widget .video-box .play-btn:hover{
	background-color:rgba(236,28,51,0.70);	
}

.video-widget .post-date{
	font-style:italic;
	margin-bottom:5px;
	font-size:13px;
	color:#ec1c33;
}

.video-widget .post-title{
	font-size:17px;
	font-weight:700;
	color:#282828;
	text-transform:uppercase;
}

.video-widget .post-title a{
	color:#282828;	
}

/*** 

====================================================================
	Gallery Section Style
====================================================================

***/

.gallery-section{
	position:relative;
	padding:100px 0px 90px;	
}

.gallery-section.full-width-gallery{
	padding:100px 0px 120px;	
}

.default-portfolio-item{
	position:relative;
}

.mixed-gallery-section .column,
.gallery-section .column{
	margin-bottom:30px;
}

.gallery-section.full-width-gallery .column{
	padding:0px !important;
	margin:0px !important;
}

.default-portfolio-item .inner-box{
	position:relative;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.default-portfolio-item .image-box img{
	display:block;
	width:100%;	
}

.default-portfolio-item .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	background:rgba(0,0,0,0.70);
	border-radius:5px;
	opacity:0;
	visibility:hidden;
	-webkit-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-moz-transform:scale(0,0);
	-o-transform:scale(0,0);
	transform:scale(0,0);
	-webkit-transition:all 400ms ease-out;
	-ms-transition:all 400ms ease-out;
	-o-transition:all 400ms ease-out;
	-moz-transition:all 400ms ease-out;
	transition:all 400ms ease-out;
}

.default-portfolio-item:hover .overlay-box{
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
	opacity:1;
	visibility:visible;	
}

.default-portfolio-item .overlay-box .inner-content{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:20px 40px;
	display:table;
	vertical-align:middle;
	text-align:center;	
}

.default-portfolio-item .overlay-box .content{
	display:table-cell;
	vertical-align:middle;
}

.default-portfolio-item .overlay-box h3{
	font-size:16px;
	font-weight:700;
	color:#ffffff;
	max-width:300px;
	margin:15px auto 20px;
	text-transform:uppercase;
	line-height:1.8em;	
}

.default-portfolio-item .overlay-box h3 a{
	color:#ffffff;	
}

.default-portfolio-item .overlay-box h3 a:hover{
	color:#ec1c33;	
}

.default-portfolio-item .overlay-box .arrow{
	position:relative;
	display:block;
	height:30px;
	width:100%;
	background:url(../images/icons/theme-arrow-right.png) center center no-repeat;	
}

.filter-list .mix{
	display:none;	
}

.gallery-section .filters{
	position:relative;
	text-align:center;
	margin-bottom:50px;	
}

.gallery-section .filter-btns{
	position:relative;
	display:inline-block;
	padding:0px 30px;
	background:#f5f5f5;
	border-radius:31px;
	-ms-border-radius:31px;
	font-family:'Montserrat',sans-serif;
}

.gallery-section .filter-btns li{
	position:relative;
	float:left;
	padding:15px 20px;
	line-height:30px;
	border-bottom:2px solid transparent;
	color:#808080;
	cursor:pointer;
	text-transform:uppercase;
	font-size:13px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active{
	border-color:#dddddd;
	color:#ec1c33;
	background:#ffffff;	
}

/*** 

====================================================================
	Team Section style
====================================================================

***/

.team-section{
	position:relative;
	padding:120px 0px 50px;
}

.default-team-column{
	position:relative;
	margin-bottom:20px;	
}

.default-team-column .image-box{
	position:relative;	
}

.default-team-column .image-box img{
	display:block;
	width:100%;
	border-radius:3px;	
}

.default-team-column .lower-box{
	position:relative;
	padding:30px 40px;
	text-align:center;
}

.default-team-column .lower-box h3{
	font-size:22px;
	font-weight:700;
	text-transform:uppercase;
	color:#282828;
}

.default-team-column .lower-box .designation{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:2px 10px;
	margin:14px 0px;
	text-transform:capitalize;
	color:#ffffff;
	background:#29af8a;
	font-size:12px;
	border-radius:3px;
}

.default-team-column .lower-box .contact-number{
	position:relative;
	color:#8b8c8d;	
}

.default-team-column .lower-box .contact-number a{
	color:#ec1c33;
	font-family:'Montserrat',sans-serif;
}

/*** 

====================================================================
	Cart Section style
====================================================================

***/

.cart-section{
	position:relative;
	padding:100px 0px 120px;
}

.cart-section .cart-outer{
	position:relative;
	padding:30px 30px 80px;
	background:#fafafa;
	border-radius:7px;
	-ms-border-radius:7px;	
}

.cart-section .cart-outer .table-outer{
	position:relative;
	width:100%;
	overflow-x:	auto;
}

.cart-section .cart-outer .cart-table{
	width:100%;
	min-width:900px;	
}

.cart-table .cart-header{
	position:relative;
	width:100%;
	font-family:'Montserrat',sans-serif;
	text-transform:uppercase;
	font-size:13px;
	border-radius:7px;
	background:#ffffff;
}

.cart-table thead tr th{
	line-height:24px;
	padding:20px 15px;
	min-width:120px;
	text-align:center;
}

.cart-table thead tr th.prod-column{
	text-align:left;
	padding-left:40px;	
}

.cart-table tbody tr td{
	line-height:24px;
	padding:30px 0px;
	min-width:120px;
	text-align:center;
	font-family:'Montserrat',sans-serif;
}

.cart-table tbody tr .qty{
	width:150px;	
}

.cart-table tbody tr .prod-column .column-box{
	position:relative;
	min-height:130px;
	padding-left:150px;
	padding-top:10px;
	text-align:left;
}

.cart-table tbody tr .prod-column .column-box .prod-id{
	color:#b1b1b1;
	font-size:12px;	
}

.cart-table tbody tr .prod-column .column-box .prod-thumb{
	position:absolute;
	left:0px;
	top:0px;	
}

.cart-table tbody tr .prod-column .column-box .prod-thumb img{
	 display:block;
	 max-width:100%;
}

.cart-table tbody tr .prod-column .column-box h3{
	font-size:17px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:5px;	
}

.cart-table .prod-rating{
	position:relative;
	font-size:12px;
	margin-bottom:10px;
}

.cart-table .prod-rating .full{
	color:#ec1c33;	
}

.cart-table tbody tr .unit-price,
.cart-table tbody tr .sub-total{
	font-size:15px;
	font-weight:700;
	color:#ec1c33;	
}

.cart-table tbody tr .remove-btn{
	position:relative;
	font-size:24px;
	color:#282828;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.cart-table tbody tr .remove-btn:hover{
	color:#ec1c33;
}

.cart-table tbody tr{
	border-bottom:1px solid #e5e5e5;	
}

.cart-table tbody tr td{
	vertical-align:middle;	
}

.cart-table tbody tr td .quantity-spinner{
	padding:5px 0px 5px 20px;
	line-height:24px;
	height:34px;
	display:block;
	width:100%;
	position:relative;
}

.cart-section .estimate-form{
	position:relative;
	padding:60px 50px;
	background:#ffffff;
	border-radius:5px;	
}

.cart-section .estimate-form h3{
	font-size:18px;
	font-weight:700;
	margin-bottom:5px;
	color:#282828;
	text-transform:uppercase;	
}

.cart-section .estimate-form .row{
	margin-left:-7px;
	margin-right:-7px;	
}

.cart-section .estimate-form .row .form-group{
	padding:0px 7px !important;
	margin-bottom:15px;
}

.default-form form input[type="text"],
.default-form form input[type="email"],
.default-form form input[type="password"],
.default-form form input[type="url"],
.default-form form input[type="number"],
.default-form form input[type="search"],
.default-form form input[type="range"],
.default-form form select{
	position:relative;
	display:block;
	width:100%;
	padding:8px 15px;
	line-height:26px;
	border:1px solid #fefefe;
	height:44px;
	background:#fafafa;
	color:#282828;
	font-size:12px;
	text-transform:uppercase;
	font-family:'Montserrat',sans-serif;
}

.default-form form input:focus,
.default-form form select:focus{
	border-color:#ec1c33;	
}

.default-form form select{
	cursor:pointer;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	background:#fafafa url(../images/icons/icon-dropdown.png) right center no-repeat;
}

.cart-section .calc-table{
	position:relative;
	font-family:'Montserrat',sans-serif;	
}

.cart-section .calc-table .upper{
	position:relative;
	padding:0px 0px 30px;
	border-bottom:1px solid #e0e0e0;	
}

.cart-section .calc-table .data-row{
	padding-left:80px;
	margin-bottom:7px;
}

.cart-section .calc-table .data-row .data-column{
	position:relative;
	float:left;
	font-size:14px;
	font-weight:700;
	width:50%;
	color:#a2a2a2;
	text-transform:uppercase;
}

.cart-section .calc-table .data-row .data-column.text-right{
	color:#282828;	
}

.cart-section .calc-table .data-row.grand-total .data-column{
	 font-size:18px;	
}

/*** 

====================================================================
	Map Section style
====================================================================

***/

.map-section{
	position:relative;
	padding:120px 0px;
}

.map-section .map-box{
	position:relative;
	height:400px;	
}

/*** 

====================================================================
	Contact Section
====================================================================

***/

.contact-section{
	position:relative;
	padding:0px 0px 100px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	
}

.contact-section .contact-info{
	position:relative;
	font-size:14px;
	color:#253d4a;
}

.contact-section .info-column{
	margin-bottom:50px;	
}

.contact-section .info-column a{
	color:#253d4a;
}

.contact-section .info-column h4{
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:5px;	
}

.contact-section .info-column .inner-box{
	position:relative;
	padding:35px 40px 35px 110px;
	background:#fbfbfb;
	border-radius:5px;
}

.contact-section .info-column .inner-box .icon{
	position:absolute;
	left:45px;
	top:30px;
	width:70px;
	line-height:50px;
	font-size:36px;
	color:#f25f43;
}

.contact-form-container{
	position:relative;
	max-width:830px;
	margin:0 auto;
}

.contact-form-container .form-group{
	position:relative;
	margin-bottom:30px;	
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container input[type="url"],
.contact-form-container input[type="tel"],
.contact-form-container input[type="url"],
.contact-form-container input[type="password"],
.contact-form-container select,
.contact-form-container textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:30px;
	padding:14px 30px;
	border:1px solid #f2f2f2;
	color:#252525;
	border-radius:2px;
	background:#f2f2f2;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	transition:all 500ms ease;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus{
	border-color:#ec1c33;	
}

.contact-form-container input.error,
.contact-form-container textarea.error{
	border-color:#ff0000;	
}

.contact-form-container label.error{
	position:relative;
	display:block;
	line-height:24px;
	padding:10px 0px;
	font-weight:normal;
	color:#ff0000;
	font-size:12px;
}

.contact-form-container textarea{
	resize:none;
	height:200px;	
}

.contact-form-container button{
	padding:15px 40px;
}

/*** 

====================================================================
	Error Section
====================================================================

***/

.error-section{
	position:relative;
	padding:120px 0px 90px;
	background-repeat:no-repeat;
	background-position:right top;
	background-image:url(../images/background/bg-error.png);
}

.error-section .inner-container{
	position:relative;
	max-width:760px;
	margin:0 auto;
	text-align:center;	
}

.error-section .sec-heading{
	position:relative;	
}

.error-section .sec-heading h3{
	font-size:60px;
	color:#cfcfcf;
	font-weight:700;
	margin-bottom:5px;	
}

.error-section .sec-heading h2{
	font-size:40px;
	color:#282828;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:60px;
	padding-bottom:20px;
}

.error-section .sec-heading h2:after{
	content:'';
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:8px;
	background:url(../images/icons/styled-heading-bg.png) center bottom no-repeat;	
}

.error-section .error-image{
	position:relative;
	margin-bottom:40px;	
}

.error-section .error-image img{
	display:inline-block;
	max-width:100%;	
}

.error-section .error-form .form-group{
	position:relative;
	margin-bottom:30px;	
}

.error-section .error-form input[type="text"],
.error-section .error-form input[type="search"]{
	position:relative;
	display:inline-block;
	width:100%;
	max-width:550px;
	line-height:30px;
	padding:14px 30px;
	margin:0px 0px 20px;
	border:1px solid #f2f2f2;
	color:#252525;
	border-radius:2px;
	background:#f2f2f2;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	transition:all 500ms ease;
}

.error-section .error-form  input:focus,
.error-section .error-form textarea:focus{
	border-color:#ec1c33;	
}

.error-section .error-form button{
	position:relative;
	display:inline-block;
	line-height:24px;
	margin:0px 15px;
	padding:16px 40px;
}

.error-section .desc-text{
	position:relative;
	font-size:15px;
	max-width:700px;
	margin:0 auto 55px;	
}


/*** 

====================================================================
	Events Calendar Section
====================================================================

***/

.event-calendar-section{
	position:relative;
	padding:120px 0px;
	width:100%;
}

#event-calendar{
	position:relative;
	width:100%;
}

.event-calendar-section .calendar-outer{
	position:relative;
	padding:25px;
	background:#fafafa;
	border-radius:10px;
	overflow-x:auto;
}

.event-calendar-section .monthly-header{
	padding:20px 15px 30px;
	background:#fafafa;
	height:auto;
}

.event-calendar-section .monthly-header-title{
	font-family:'Montserrat',sans-serif;
	font-size:24px;
	text-transform:uppercase;
	line-height:1.4em;
	color:#282828;
	font-weight:700;
	letter-spacing:1px;
}

.event-calendar-section .monthly-prev,
.event-calendar-section .monthly-next{
	line-height:24px;	
}

.event-calendar-section .monthly-prev:after,
.event-calendar-section .monthly-next:after{
	height:24px;
	margin-top:-15px;
	font-size:30px;
	color:#282828;	
}

.event-calendar-section .monthly-day-title-wrap{
	padding:20px 0px;
	border-radius:10px;
	background:#ffffff;
	font-family:'Montserrat',sans-serif;
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:7px;	
}

.monthly-week .m-d{
	border-radius:7px;
	border:2px solid #fafafa;
	padding:40px 10px 20px 10px;	
}

.monthly-week .m-d.monthly-day-event{
	background:#ffffff;
	color:#383838;
}

.monthly-week .m-d.monthly-day-event:hover{
	background:#fafafa;	
}

.monthly-week .monthly-day-event > .monthly-day-number{
	right:10px;
	left:auto;
	top:10px;
	font-size:12px;
	width:20px;
	height:20px;
	line-height:20px;
}

.event-calendar-section .monthly-week{
	border-bottom:5px solid #fafafa;
}

.event-calendar-section .monthly-event-list{
	top:84px;	
}

.monthly-day .monthly-event-indicator{
	padding:8px 5px !important;
	height:auto !important;
	min-height:30px;
	border-radius:3px !important;	
}
.social{
    font-size: 150%;
    color: #000000;
}
